<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fakeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeApp">
        <activity
            android:name=".ArbitaryfileTheft"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.fakeapp.com"
                    android:pathPrefix="/arbitaryfiles"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InsecureDeepLink"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.fakeapp.com"
                    android:pathPrefix="/insecurelink"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.fakeapp.com"
                    android:pathPrefix="/insecurelink"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.FakeApp.NoActionBar" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.fakeapp.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".xss_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.fakeapp.com"
                    android:pathPrefix="/fakepath"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.fakeapp.com"
                    android:pathPrefix="/view"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>